body{
    background: rgb(223, 223, 223);
}

header{
    background-color: blue;

    color: white;

    text-align: center;

    padding: 15px 0;
}

header nav{
    background-color: lightgoldenrodyellow;
    padding: 8px 0;
    margin: 15px;
}

header nav a{
    color: black;
    text-decoration: none;
    margin: 0 50px;

}

header nav a:hover{
    text-decoration: underline;
}

section{
    margin: 15px;
    padding: 15px;
    background: white;
    width: 90%;
}

profile{
    display: flex;
    border-bottom: 2px solid #0b2ea8;
    padding-bottom: 15px;
}

profile img{
    width: 150px;
    height: 170px;
    object-fit: cover;
    border: 2px solid #333;
}

two-column{
    display: flex;
    gap: 40px;
}

two-column div{
    width: 50%;
}